@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}
.cart_container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  height: 85vh;
  font-family: "Roboto-Medium";
}
.cart_filled_informations{
  display: flex;
  justify-content: space-between;
}

.empty_cart_btn{
  color: black;
  border: 1px solid ;
  width: fit-content;
}

.cart_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 231, 231);
}
.back_items {
  color: black;
  font-family: "Roboto-Medium";
  text-decoration: underline;
}
h1, h2, h3{
  margin: 1%;
}
