@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

.cart_filled_informations{
  display: flex;
  color: black;
}

.empty_cart_btn{
  color: black;
  border: 1px solid ;
  width: fit-content;
}

.cart_empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 231, 231);
}
.back_items {
  color: black;
  font-family: "Roboto-Medium";
  text-decoration: underline;
}
