@font-face {
  font-family: "Roboto-Medium";
  src: url(fonts/Roboto-Medium.ttf);
}

.cart_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 231, 231);
  height: 80vh;
}
.back_items {
  color: black;
  font-family: "Roboto-Medium";
  text-decoration: underline;
}
