@font-face {
    font-family: "Roboto-Medium";
    src: url(fonts/Roboto-Medium.ttf);
  }

.order_confirmation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: rgb(231, 231, 231);
}
.orderid{
    display: flex;
    flex-direction: column;
}

.ordered {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    padding: 2%;
}
.display_orderid, .display_price {
    font-weight: bold;
}
.back_home_page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn_back_home_page{
    border: 1px solid;
    background-color: black;
    padding: 1%;
    font-family: 'Roboto-Medium';
}

@media screen and (max-width: 400px) {
    h2{
        font-size: larger;
    }
}